<%= form_for(@leave_config, :validate => true, :validate => :user_validators) do |f| %>
  <% if @leave_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_config.errors.count, "error") %> prohibited this leave_config from being saved:</h2>

      <ul>
      <% @leave_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :emptype_id %><br />
    <%= f.select :emptype_id , options_for_select(Emptype.all.map{|d| ["#{d.name}",d.id] }, :selected => @leave_config.emptype_id) %>
  </div>
  <div class="field">
    <%= f.label :leave_type_id %><br />
    <%= f.select :leave_type_id , options_for_select(LeaveType.all.map{|d| ["#{d.name}",d.id] }, :selected => @leave_config.leave_type_id) %>
  </div>
  <div class="field">
    <%= f.label :count %><br />
    <%= f.number_field :count %>
  </div>
  <div class="field">
    <%= f.label :max %><br />
    <%= f.number_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
