<p id="notice"><%= notice %></p>

<p>
  <b>Emptype:</b>
  <%= @leave_config.emptype_id %>
</p>

<p>
  <b>Leave type:</b>
  <%= @leave_config.leave_type_id %>
</p>

<p>
  <b>Count:</b>
  <%= @leave_config.count %>
</p>

<p>
  <b>Max:</b>
  <%= @leave_config.max %>
</p>


<%= link_to 'Edit', edit_leave_config_path(@leave_config) %> |
<%= link_to 'Back', leave_configs_path %>
