<table  id ="band_table" class ="table table-striped">
<thead>
<tr>
    <td>Ecode</td>
    <td>Role</td>
    <td>Name</td> 
    <td>Gender</td> 
    <td>Blood Group</td> 
    <td>Marital Status</td> 
    <td>Pan No</td> 
    <td>Father's Name </td> 
    <td>Spouse Name</td> 
    <td>Bank Number </td>
    <td>Date Of Anniversary </td> 
    <td>Date Of Birth </td> 
    <td>Manager Ecode </td>  
    <td>Location </td>
    <td>Date Of Joining </td> 
 </tr>
 </thead>
 <tbody>
<% @employee.each do |emp|%> 
  <tr>
    <td><%= link_to emp.ecode  , edit_employee_path(emp)%></td>
    <td><%= emp.role %></td>
    <td><%= emp.name %></td> 
    <td><%= emp.gender %></td> 
    <td><%= emp.blood_group %></td> 
    <td><%= emp.marital_status %></td> 
    <td><%= emp.pan_no %></td> 
    <td><%= emp.father_name %></td> 
    <td><%= emp.spouse_name %></td> 
    <td><%= emp.bank_number %></td>
    <td><%= emp.date_of_anniversary %></td> 
    <td><%= emp.date_of_birth %></td> 
    <td><%= emp.manager_ecode %></td>  
    <td><%= emp.location %></td>
    <td><%= emp.date_of_joining %></td> 
 </tr>
 <% end %>
 </tbody>
 </table>
