<table  id ="band_table" class ="table table-striped">
<thead>
<tr>
    <th>Ecode</th>
    <th>Role</th>
    <th>Name</th>
    <th>Gender</th>
    <th>Blood Group</th>
    <th>Marital Status</th>
    <th>Pan No</th>
    <th>Father's Name </th>
    <th>Spouse Name</th>
    <th>Bank Number </th>
    <th>Date Of Anniversary </th>
    <th>Date Of Birth </th>
    <th>Manager Ecode </th>
    <th>Location </th>
    <th>Date Of Joining </th>
 </tr>
 </thead>
 <tbody>
<% @employee.each do |emp|%> 
  <tr>
    <td><%= link_to emp.ecode  , edit_employee_path(emp)%></td>
    <td><%= emp.role %></td>
    <td><%= emp.name %></td> 
    <td><%= emp.gender %></td> 
    <td><%= emp.blood_group %></td> 
    <td><%= emp.marital_status %></td> 
    <td><%= emp.pan_no %></td> 
    <td><%= emp.father_name %></td> 
    <td><%= emp.spouse_name %></td> 
    <td><%= emp.bank_number %></td>
    <td><%= emp.date_of_anniversary %></td> 
    <td><%= emp.date_of_birth %></td> 
    <td><%= emp.manager_ecode %></td>  
    <td><%= emp.location %></td>
    <td><%= emp.date_of_joining %></td> 
 </tr>
 <% end %>
 </tbody>
 </table>
