<%= form_for(:user , :url => 'employees/',:method => 'put') do |f| %>
  <%= f.hidden_field  "id", :value => @user.id  %>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :ecode %><%= f.text_field :ecode  %>
    </div>

    <div class="span4">
      <%= f.label :date_of_joining %><%= f.text_field :date_of_joining  %>
    </div>

    <div class="span4">
      <%= f.label :band_id %><%= f.text_field :band_id  %>
    </div>
  </div>

  <div class="field row span12">

    <div class="span4">
      <%= f.label :gender %><%= f.text_field :gender  %>
    </div>

    <div class="span4">
      <%= f.label :location %><%= f.text_field :location  %>
    </div>

    <div class="span4">
      <%= f.label :manager_ecode %><%= f.text_field :manager_ecode  %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :blood_group %><%= f.text_field :blood_group  %>
    </div>

    <div class="span4">
      <%= f.label :date_of_birth %><%= f.text_field :date_of_birth  %>
    </div>

    <div class="span4">
      <%= f.label :marital_status %><%= f.text_field :marital_status %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :date_of_anniversary %><%= f.text_field :date_of_anniversary  %>
    </div>

    <div class="span4">
      <%= f.label :pan_no %><%= f.text_field :pan_no  %>
    </div>

    <div class="span4">
      <%= f.label :bank_detail %><%= f.text_field :bank_detail  %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :father_name %><%= f.text_field :father_name  %>
    </div>

    <div class="span4">
      <%= f.label :spouse_name %><%= f.text_field :spouse_name  %>
    </div>
    <div class="span4">
      <%= f.label :salary %><%= f.text_field :salary  %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :email %><%= f.text_field :email  %>
    </div>
    <div class="span4">
      <%= f.label :name %><%= f.text_field :name  %>
    </div>
  </div>
  <div class="actions row">
    <div class="span2 offset6"><button type="submit"  >Create</button></div>
  </div>
<% end %>
