<h1 class="block_heading">Employee History</h1>
<%= form_for "emp_history" ,:html => {:style=>"text-align: center;"} do |f|%>
  <div class="input-append">
    <%=f.text_field "ecode"%>
    <%=f.submit "search" ,:class => "btn" %>
  </div>
<%end%>
<%= User.first.versions.last.changeset %>
<%unless @employee_info.empty?%>
  <table  id ="band_table" class ="table table-striped">
<thead >
<tr>
    <th>Action upon user</th>
    <th>Role</th>
    <th>designation</th>
    <th>project</th>
    <th>Confirmation Status</th>
</tr>
 </thead>
 <tbody>
<% @employee_info.each do |emp|%>
   <%if emp.audited_changes["designation_id"] || emp.audited_changes["project_id"] || emp.audited_changes["confirmation_status"] || emp.audited_changes["role"]%>
   <tr>
     <td><%= emp.action %></td>
    <td><%= emp.audited_changes["role"] %></td>
    <td><%= Designation.find_by_id(emp.audited_changes["designation_id"]).name if emp.audited_changes["designation_id"] %></td>
    <td><%=  Project.find_by_id(emp.audited_changes["project_id"]).name if emp.audited_changes["project_id"] %></td>
    <td><%= emp.audited_changes["confirmation_status"] %></td>
 </tr>
   <%end%>
  <%end%>
 </tbody>
 </table>
<%      end%>