<%= form_for(:user , :url => '/employees') do |f| %>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :ecode %><%= f.text_field :ecode ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :date_of_joining %><%= f.text_field :date_of_joining ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :band_id %><%= f.text_field :band_id ,:data => "" %>
    </div>
  </div>

  <div class="field row span12">

    <div class="span4">
      <%= f.label :gender %><%= f.text_field :gender ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :location %><%= f.text_field :location ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :manager_id %><%= f.text_field :manager_id ,:data => "" %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :blood_group %><%= f.text_field :blood_group ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :date_of_birth %><%= f.text_field :date_of_birth ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :marital_status %><%= f.text_field :marital_status,:data => "" %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :date_of_anniversary %><%= f.text_field :date_of_anniversary ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :pan_no %><%= f.text_field :pan_no ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :bank_detail %><%= f.text_field :bank_detail ,:data => "" %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :father_name %><%= f.text_field :father_name ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :spouse_name %><%= f.text_field :spouse_name ,:data => "" %>
    </div>
    <div class="span4">
      <%= f.label :salary %><%= f.text_field :salary ,:data => "" %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :email %><%= f.text_field :email ,:data => "" %>
    </div>

  </div>
  <div class="actions row">
    <div class="span2 offset6"><button type="submit"  >Create</button></div>
  </div>
<% end %>
