<h1 class="block_heading">Employee Profile</h1>
<div class="row" style="margin: 10px;">
<div class="span3">
      <%= image_tag @user.avatar.url(:thumb) %>
 </div>
 <div class="span9">
 <div class="field row ">
  <div class="span4">
      Ecode :   <%= @user.ecode  %>
    </div>
    <div class="span4">
      Name :   <%= @user.name  %>
    </div>
    <div class="span4">
      Date of joining :   <%= @user.date_of_joining %>
    </div>
  </div>
<div class="field row ">
   <div class="span4">
      Designation :   <%= @user.designation.name unless @user.designation.nil? %>
    </div> 
  <div class="span4">
      Band :   <%= @user.band.name unless @user.band.nil? %>
    </div> 
  <div class="span4">
      Email :   <%= @user.email %>
    </div>
  </div>
  <div class="field row ">
    <div class="span4">
      Gender :   <%= @user.gender %>
    </div>
    <div class="span4">
      Location :   <%= @user.location %>
    </div>
    <div class="span4">
      Manager ecode :   <%= @user.manager_ecode %>
    </div>
  </div>
  <div class="field row ">
    <div class="span4">
      Blood_group :   <%= @user.blood_group %>
    </div>

    <div class="span4">
      Date_of_birth :   <%= @user.date_of_birth %>
    </div>

    <div class="span4">
      Marital_status :   <%= @user.marital_status%>
    </div>
  </div>
  <div class="field row">
    <div class="span4">
      Date of anniversary :   <%= @user.date_of_anniversary %>
    </div>

    <div class="span4">
      Pan_no :   <%= @user.pan_no %>
    </div>

    <div class="span4">
      Bank Number :   <%= @user.bank_number %>
    </div>
  </div>
  <div class="field row">
    <div class="span4">
      Father_name :   <%= @user.father_name %>
    </div>

    <div class="span4">
      Spouse_name :   <%= @user.spouse_name %>
    </div>
  </div>
  </div>
  </div>