<%= @user.attributes %>
  <div class="field row span12">
    <div class="span4">
      Ecode :   <%= @user.ecode  %>
    </div>

    <div class="span4">
      date_of_joining :   <%= @user.date_of_joining %>
    </div>

    <div class="span4">
      band_id :   <%= @user.band_id %>
    </div>
  </div>
  <div class="field row span12">

    <div class="span4">
      gender :   <%= @user.gender %>
    </div>

    <div class="span4">
      location :   <%= @user.location %>
    </div>

    <div class="span4">
      manager_ecode :   <%= @user.manager_ecode %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      blood_group :   <%= @user.blood_group %>
    </div>

    <div class="span4">
      date_of_birth :   <%= @user.date_of_birth %>
    </div>

    <div class="span4">
      marital_status :   <%= @user.marital_status%>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      date_of_anniversary :   <%= @user.date_of_anniversary %>
    </div>

    <div class="span4">
      pan_no :   <%= @user.pan_no %>
    </div>

    <div class="span4">
      bank_detail :   <%= @user.bank_detail %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      father_name :   <%= @user.father_name %>
    </div>

    <div class="span4">
      spouse_name :   <%= @user.spouse_name %>
    </div>
    <div class="span4">
      salary :   <%= @user.salary %>
    </div>
  </div>
<div class="field row span12">
    <div class="span4">
      Email :   <%= @user.email %>
    </div>
    <div class="span4">
      Name :   <%= @user.name %>
    </div>
    
  </div>