<div id="report" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Report To Admin</h3>
        </div>
        <div class="modal-body">
          <div class="field row span12">
            Reason :-
              <%= text_area "reason" ,"res" ,:cols=> "70" ,:style => "width: 450px;"%>
          </div>
       </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <%#*<button class="btn btn-primary" data-dismiss="modal" id ="info">Information</button>%>
          <a href="#sending" role="button" class="btn btn-primary" data-toggle="modal" style="width: 161px;" title="Report to Admin" data-dismiss="modal" id ="info">Wrong Information</a>
       </div>
      </div>
<div id="sending" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
          <div class="field row span12">
            Mail Sending
          </div>
       </div>
</div>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:validate => true ,:validate => :user_validators , :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field row span12">
    <div class="span4"> 
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, :autocomplete => "off" %>
    </div>
    <div class="span4"><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

    <div class="span4"><%= f.label :current_password %> <i>(current password to confirm your changes)</i><br />
      <%= f.password_field :current_password %></div>
  </div>
<% if resource.confirmation_status == "pending" %>
  <div class="field row span12">
    <div class="span4">
      Ecode :  <%=  resource.ecode %>
    </div>
    <div class="span4">
      Name  :  <%= resource.name %>
    </div>
    <div class="span4">
       Date of joining : <%= resource.date_of_joining %>
    </div>


  </div>
  <div class="field row span12">
    <div class="span4">
      Designation : <%= resource.designation.name if resource.designation%>
    </div>
    <div class="span4">
      Band : <%= resource.band.name if resource.band %>
    </div>
    <div class="span4">
      Email :<%= resource.email %>
    </div>
  </div>
  <div class="field row span12">

    <div class="span4">
      Gender : <%= resource.gender %>
    </div>

    <div class="span4">
      Location : <%= resource.location %>
    </div>

    <div class="span4">
      Manager Ecode : <%= resource.manager_ecode%>
    </div>
  </div>

  <div class="field row span12">
    <div class="span4">
      <%= f.label :blood_group %><%= f.text_field :blood_group ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :date_of_birth %><%= f.text_field :date_of_birth ,:class=>"datepicker" %>
    </div>
    <div class="span4">
      <%= f.label :marital_status %><%= f.select :marital_status, options_for_select(["Unmarried","Married","divorced"],resource.marital_status) %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :date_of_anniversary %><%= f.text_field :date_of_anniversary ,:class=>"datepicker" %>
    </div>

    <div class="span4">
      <%= f.label :pan_no %><%= f.text_field :pan_no ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :bank_detail %><%= f.text_field :bank_detail ,:data => "" %>
    </div>
  </div>
  <div class="field row span12">
    <div class="span4">
      <%= f.label :father_name %><%= f.text_field :father_name ,:data => "" %>
    </div>

    <div class="span4">
      <%= f.label :spouse_name %><%= f.text_field :spouse_name ,:data => "" %>
    </div>

  </div>
  <div class="actions row span12">
    <div class="span6"></div>
    <div class="span6"> 
      <%= f.hidden_field :confirmation_status ,:value => "confirmed" %>
      <%= f.submit "Confirm Information" ,:class => "btn btn-primary" , :id => "data_sub"%>
      <a href="#report" role="button" class="btn" data-toggle="modal" style="width: 161px;" title="Report to Admin">Wrong Information</a>
      
      
      
    </div>
  </div>
<%else%>
<div class="actions row span12">
    <div class="span6"></div>
    <div class="span6"> 
      <%= f.submit "Update" ,:class => "btn btn-primary" %>
   </div>
  </div>
<%end%>

<% end %>

<%#*<h3>Cancel my account</h3>%>

<%#*<p>Unhappy?%> 
<%#= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

<%#= link_to "Back", :back %>
