<%= form_for(@designation) do |f| %>
  <% if @designation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@designation.errors.count, "error") %> prohibited this designation from being saved:</h2>

      <ul>
      <% @designation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name ,:data => "" %>
  </div>
  <div class="actions">
    <button type="submit" class="des_create btn" >Create</button>
    <button type="button" class="des_update btn" >Update</button>
    <button type="button" class="des_reset btn" >Reset</button>
  </div>
<% end %>
