<tr>
  <td><%= check_box_tag "designation" %></td>
  <td id ="name_<%=  designation.id%>"><%= designation.name %>
  <td class = "action"><%= link_to  "", edit_designation_path(designation),:title => "Edit" ,:class => "destination_update icon-pencil" , :data => designation.id %><%= link_to "", designation, :title => "Delete"  ,:class => "destination_delete icon-remove" , :data => designation.id%></td>
</tr>
