<tr>
  <td><%= check_box_tag "project" %></td>
  <td id ="name_<%=  project.id%>"><%= project.name %></td>
  <td id ="manger_<%=  project.id%>"><%= project.manager_ecode %></td>
  <td class = "action"><%= link_to "", edit_project_path(project),:title => "Edit" ,:class => "project_update icon-pencil" , :data => project.id %><%= link_to "", project, :title => "Delete"  ,:class => "project_delete icon-remove" , :data => project.id%></td>
</tr>
