<%= form_for(@band) do |f| %>
  <% if @band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field row">
    <div class="span2 offset1">
<%= f.label :name %></div><div class="span4"><%= f.text_field :name ,:data => "" %></div>
  </div>
  <div class="actions row">
    <div class="span2 offset6"><button type="submit" class="band_create btn" >Create</button></div>
    <div class="span2"><button type="button" class="band_update btn" >Update</button></div>
    <div class="span2"><button type="button" class="band_reset btn" >Reset</button></div>
  </div>
<% end %>
