<tr>
  <td><%= check_box_tag "band" %></td>
  <td id ="name_<%=  band.id%>"><%= band.name %></td>
  <td><%= link_to  image_tag('/assets/edit.png'), edit_band_path(band),:title => "Edit" ,:class => "band_update" , :data => band.id %><%= link_to image_tag('/assets/delete.png'), band, :title => "Delete"  ,:class => "band_delete" , :data => band.id%></td>
</tr>
