<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TrantorManagementSystem" %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag :application, '/ckeditor/ckeditor', '/assets/jquery.pageslide.min.js' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag '/assets/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/document/index"><img src="/assets/Trantor.png"  alt="Trantor"/></a>
          <div class="container-fluid nav-collapse">
            <ul class="nav pull-right">
              <% if user_signed_in? %>
                <li class="welcome">Welcome <%= current_user.email %>. Not you?</li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <% if user_signed_in? %>
          <div class="span3">
            <div style="background-color:#e4e4e4;" id="menu" class="well sidebar-nav ">
              <ul class="nav nav-list">
                <li class="nav-header"><img src="/assets/tms.jpg" /></li>
                <br/>
                <li>
                  <ul>
                    <li class="nav_links"><%= link_to "Create Document Template", new_document_template_path %></li>
                    <li class="nav_links"><%= link_to "Edit Document Template", document_templates_path %></li>
                </li>
                <% if current_user.admin? %>
                  <li class="nav_links"><%= link_to "Admin Panel","/admin" %></li>
                <% end %>
              </ul>
              </ul>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div class="span9" style="background: #e4e4e4; border-radius: 4px;">
            <p class="notice"><%= notice %></p>
            <%= yield %>
          </div>
        <%  else %>
          <div class="span8" >
            <br/>
            <img src="/assets/tms2.jpg"/>
          </div>
          <div class="span4">
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <%= yield %>
          </div>
        <% end %>
      </div>
      <footer>
      </footer>
    </div> 
  </body>
</html>
